body{
    text-align: center;
    font-family: Arial;
}

ul{
    list-style: none;
}

#name{
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}

#spidy-img{
    width: 327px;
    height: 189px;
}

.content{
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px rgb(87, 76, 76) , -5px -5px 5px rgb(87, 76, 76) , -5px 5px 5px rgb(87, 76, 76) , 5px -5px 5px rgb(87, 76, 76) ;
    padding: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
}

#spidy-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.info div{
    justify-content: left;
    justify-items: left;
}

.powers{
    position: relative;
    left: -15px;
    justify-content: left;
}